<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:insert="~{layout :: layout(contentFragment=~{::content})}">

<section th:fragment="content">
	<!-- ログインエラーのときはメッセージを表示 -->
	<div th:if="${failureMessage != null}" th:text="${failureMessage}"></div>
	<!-- ログインフォーム -->
	<!-- th:actionはSecurityConfigのloginProcessingUrlで指定したURL -->
	<form th:action="@{authenticate}" method="post">
		<table>
			<tr>
				<th>Email</th>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<th>PASSWORD</th>
				<td><input type="password" name="password" /></td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="submit" class="btn" value="ログイン" />
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="button" class="btn secondary" value="新規作成"
						th:onclick="|location.href='@{/register}'|" />
				</td>
			</tr>
		</table>
	</form>
</section>

</html>