<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:insert="~{layout :: layout(contentFragment=~{::content})}">

<section th:fragment="content">
	<h1> </h1>
	<!-- ログインフォーム -->
	<!-- th:actionはSecurityConfigのloginProcessingUrlで指定したURL -->
	<form th:action="@{/authenticate}" method="post" class="form-right">
		<!-- ログインエラーのときはメッセージを表示 -->
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<div th:if="${failureMessage != null}" th:text="${failureMessage}"></div>
		<table>
			<tr>
				<th>Email</th>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<th>PASSWORD</th>
				<td><input type="password" name="password" /></td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="submit" class="btn" value="ログイン" />
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="button" class="btn secondary" value="新規作成"
						th:onclick="|location.href='@{/user/register}'|" />
				</td>
			</tr>
		</table>
	</form>
</section>

</html>