<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:insert="~{layout :: layout(contentFragment=~{::content})}">

<section th:fragment="content">
	<h1>新規登録</h1>
	<form th:action="@{/register}" th:object="${userForm}" method="post" class="form-right">
		<!-- エラーがあるときだけ表示 -->
		<div th:if="${Message} != null" th:text="${Message}" style="color: blue;"></div>
		<div th:if="${#fields.hasErrors('*')}">
			<!-- 全てのエラーメッセージをリスト表示 -->
			<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
		</div>
		<table>
			<tr>
				<th>名前<span style="color:red;">*</span></th>
				<td><input type="text" name="name" required /></td>
			</tr>
			<tr>
				<th>メールアドレス<span style="color:red;">*</span></th>
				<td><input type="email" name="email" required /></td>
			</tr>
			<tr>
				<th>パスワード<span style="color:red;">*</span></th>
				<td><input type="password" name="password" required /></td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td><input type="text" name="postcode" pattern="\d{3}-?\d{4}" placeholder="123-4567" /></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" name="address" /></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><input type="tel" name="tel" pattern="0\d{1,4}-?\d{1,4}-?\d{4}" placeholder="090-1234-5678" /></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center;">
					<button class="btn" type="submit">新規登録</button>
				</td>
			</tr>
		</table>
	</form>

</section>

</html>