<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:insert="~{layout :: layout(contentFragment=~{::content})}">

<section th:fragment="content">
	<h2>購入確認画面</h2>

	<table>
		<tr>
			<th>名前</th>
			<td th:text="${user.name}">名前</td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${user.address}">住所</td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${user.email}">メールアドレス</td>
		</tr>
	</table>

	<form th:action="@{purchase}" method="post" th:object="${purchaseForm}">
			<input type="hidden" name="itemId" th:value="${item.itemId}" />
		<h3>お支払い方法</h3>
		<label>
			<input type="radio" name="paymentMethod" value="credit" onclick="toggleCreditForm(true)" required />
			クレジットカード
		</label>
		<label>
			<input type="radio" name="paymentMethod" value="convenience" onclick="toggleCreditForm(false)" />
			コンビニ払い
		</label>
		<label>
			<input type="radio" name="paymentMethod" value="carrier" onclick="toggleCreditForm(false)" />
			キャリア払い
		</label>

		<div id="creditCardForm" style="display:none; margin-top: 1em;">
			<h4>クレジットカード情報</h4>
					       <label>カード番号:
					           <input type="number" name="cardNumber" th:field="*{cardNumber}" placeholder="1234 5678 9012 3456" />
					       </label><br />
					       <label>有効期限:
					           <input type="month" name="expDate" th:field="*{expDate}" />
					       </label><br />
					       <label>セキュリティコード:
					           <input type="number" name="securityCode" th:field="*{securityCode}" placeholder="123" />
					       </label>
					   </div>
					   
		<h3>支払金額</h3>
		<p th:unless="${paymentAmount == null}"
			   th:text="|${paymentAmount} 円|">0 円</p>
			   		<div style="margin-top: 1em;">
			<button type="submit">確定</button>
		</div>

	</form>
	
	<script>
		function toggleCreditForm(show) {
			const form = document.getElementById('creditCardForm');
			form.style.display = show ? 'block' : 'none';
		}
	</script>
</section>

</html>