<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:insert="~{layout :: layout(contentFragment=~{::content})}">

<section th:fragment="content">
	<h1 class="heading">カテゴリー</h1>
	<div class="categories">
		<div class="category">
			<a href="/c/1">
				<img src="/images/clothes.svg" alt="衣類" class="icon" />
				<p>衣類</p>
			</a>
		</div>
		<div class="category">
			<a href="/c/2">
				<img src="/images/toys.svg" alt="おもちゃ" class="icon" />
				<p>おもちゃ</p>
			</a>
		</div>
		<div class="category">
			<a href="/c/3">
				<img src="/images/electronics.svg" alt="電気製品" class="icon" />
				<p>電気製品</p>
			</a>
		</div>
		<div class="category">
			<a href="/c/4">
				<img src="/images/sports.svg" alt="スポーツ品" class="icon" />
				<p>スポーツ品</p>
			</a>
		</div>
		<div class="category">
			<a href="/c/5">
				<img src="/images/pets.svg" alt="ペット品" class="icon" />
				<p>ペット品</p>
			</a>
		</div>
		<div class="category">
			<a href="/c/6">
				<img src="/images/beauty.svg" alt="美容品" class="icon" />
				<p>美容品</p>
			</a>
		</div>
		<div class="category">
			<a href="/c/7">
				<img src="/images/books.svg" alt="書籍" class="icon" />
				<p>書籍</p>
			</a>
		</div>
		<div class="category">
			<a href="/c/8">
				<img src="/images/misc.svg" alt="その他" class="icon" />
				<p>その他</p>
			</a>
		</div>
	</div>
</section>

</html>