<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:insert="~{layout :: layout(contentFragment=~{::content})}">

<section th:fragment="content">
	<h1 class="heading" th:text="${header}">ヘッダー</h1>
	<div class="list-scroll">
		<th:block th:each="item : ${items}">
			<a th:href="@{/item/{itemId}(itemId = ${item.itemId})}">
				<div class="list-item">
					<div class="img-container">
						<img th:src="@{/images/user_imgs/{img}(img=${#strings.arraySplit(item.imagePaths, ',')[0]})}"
							th:alt="${item.name}" />
						<div th:unless="${item.saleStatus}" class="sold">SOLD</div>
					</div>
					<div class="list-text">
						<h2 th:text="${item.name}">タイトル</h2>
						<p>¥<span th:text="${item.price}">00000</span></p>
						<p th:if="${header == '販売'}">
							<a th:href="@{/item/add_item(itemId = ${item.itemId}, type='update')}">
								商品編集
							</a>
						</p>
					</div>
				</div>
			</a>
		</th:block>
	</div>
	<div th:if="${header == '販売'}" class="new-item">
		<a th:href="@{/item/add_item(itemId=0, type='insert')}">
			<i class="fa-solid fa-circle-plus"></i>
			新しい商品を販売する
		</a>
	</div>
</section>

</html>