<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<div th:fragment="navbar">
		<nav class="navbar">
			<div class="navbar-left">
				<a href="@{/}">
					タニハタ屋<img src="/images/logo.png" alt="Logo" class="logo" />
				</a>
			</div>

			<div class="navbar-right">
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/user/login}" class="btn">ログイン</a>
					<a th:href="@{/user/register}" class="btn btn-primary">新規登録</a>
				</div>

				<div sec:authorize="isAuthenticated()" class="dropdown">
					<button class="dropbtn">メニュー ▾</button>
					<div class="dropdown-content">
						<a th:href="@{/info}">アカウント情報</a>
						<a th:href="@{/purchases}">購入一覧</a>
						<a th:href="@{/solditems}">出品一覧</a>
						<form th:action="@/logout}" method="post">
							<button type="submit" class="logout-btn">ログアウト</button>
						</form>
					</div>
				</div>
			</div>

		</nav>
	</div>
</body>

</html>