<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.example.grope.repository.ItemsMappe'>

	<!-- 同じカテゴリーのアイテムを全権取得 -->
	<select id=findAllByCategory
		resultType="com.example.grope.entity.Items">
		SELECT * FROM users where item_id = {ItemId};
	</select>

	<!-- 特定ユーザーの購入履歴一覧表示 -->
	<select id="findPurchasesByUserId"
		resultType="com.example.grope.entity.Items">

	</select>

	<!-- アイテムを追加 -->
	<insert id="insert">
		INSERT INTO Items(
		VALUES()
	</insert>

	<!--アイテムを更新 -->
	<update id="update">
		update Items set
	</update>

	<!-- アイテムに削除フラグを付与 -->
	<update id="markForDelete">
	</update>
</mapper>